body {
  font-size: 16px;
  color: #000;
  background-color: #e5ddc8;
  font-family: 'Ubuntu', sans-serif;
}

#header-nav {
  background-color: #e3f2fd;
}

.navbar-brand h1 {
  text-shadow: 1px 2px 3px #222;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-container{
	overflow: hidden;
	height: 80px;
}

.navbar-collapse {
  text-align: center;
  font-size: 20px;
}

.navbar-collapse a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.item-chicken {
  background-color: #deb799;
}

.item-beef {
  background-color: #dec5d2;
}

.item-sushi {
  background-color: #badade;
}

.page-title {
  text-shadow: 1px 2px 3px #222;
  margin-top: 20px;
}

.chicken-container {
  background-color: #deb799;
  margin-bottom: 15px;
}

.chicken-container h3  {
  text-shadow: 1px 2px 3px #222;
  padding-top: 10px;
}

.beef-container {
  background-color: #dec5d2;
  margin-bottom: 15px;
}

.beef-container h3  {
  text-shadow: 1px 2px 3px #222;
  padding-top: 10px;
}

.sushi-container {
  background-color: #badade;
  margin-bottom: 15px;
}

.sushi-container h3  {
  text-shadow: 1px 2px 3px #222;
  padding-top: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
	#collapsable-nav li{
		display: none;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	#collapsable-nav li{
		display: none;
	}
}

@media (min-width: 1200px) {
	#collapsable-nav li{
		display: none;
	}
}
